* {
    box-sizing: border-box;
}

body {
    background: black;
    font-family: sans-serif;
}

.tabs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 350px;
    background: white;
    color: black;
    overflow: hidden;
    box-shadow:  2px 2px 5px 2px;
    display: flex;
}

.tabs .tab-header {
    width: 150px;
}

.tabs .tab-header > div {
    width: 100%;
    /* Change divisor when adding new tab. */
    height: calc(100% / 4);
    background: black;
    text-indent: 20px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-left: 5px solid white;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.tabs .tab-header > div.active {
    border-left: 5px solid #00acee;
    color: #00acee;
    background: black;
}


.tabs .tab-content {
    padding: 20px 30px;
    flex: 1;
    position: relative;
    color: white;
    background-color: black;
}

.tabs .tab-content > div {
    position: absolute;
    top: -50vh;
    left: 100px;
    opacity: 0;
    transition: opacity 300ms ease-in-out 0ms;
}

.tabs .tab-content > div.active {
    top: 20px;
    left: 20px;
    opacity: 1;
    transition: opacity 300ms ease-in-out 0ms;
}

